*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
   line-height: 1.5;
   color:#333
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 90vw;
}
header img{
    position: relative;
    left: 13.5rem

}
.nav_links{
    list-style: none;
}

.nav_links li{
    position: relative;
    display: inline-block;
    padding: 10px;
    right: 68px;
}
#career, #dept{
    color: #ababab;
}
.nav_links li a{
    text-decoration: none;
    color: hsl(172, 100%, 35%);
    }
    .nav_links li a:hover{
         color: #ababab;
        }

.section1{
    display: flex;
    flex-direction: column;
    padding: 50px;
    /* width: 50rem; */
    height: 50rem;
    align-items: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.section1 img{
    align-content: center;
    width: 60px;
}

.intro{
    color: #00b39b;
    font-size: 30px;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
}
.paragraphs{
    padding-top: 30px;;
    width: 100%;
    padding-right: 200px;
    padding-left:200px ;
    display: flex;
    justify-content: space-between;
    align-content: center;


}

.para1, .para2{
    /* background-color: #00b39b; */
    width: 50%;
    padding: 10px;
    color: #ababab;
    justify-content: left;
}
.section2{
    display: flex;
    width: 100%;
    align-content: center;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
}
.categories, .categories2, .categories3{
    position: relative;
    top: -300px;
    left: 50px;
    width: 345px;
    padding: 30px;
    margin: 10px;
    background-color:#00CCB1 ;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
}
.categories p, img, select{
    padding: 10px;

}

#country, #speciatist_count{
   border: none; 
}
.categories_header{
    font-size: 40px;
}

 .bg-color{
    background-color: #1B2734;
}
.bg-color2{
   background-color: #3D83DF; 
}

.section3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    padding: 10px;
}

.section3logos{
    position: relative;
    top: -290px;
    left: 160px;
    display: flex;
    flex-direction: column;
    
}
.section3logos img{

    width: 100px;

}

.section3title{
    width: 200px;
    font-size: 20px;
    position: relative;
    right: 350px;
    top: -160px;
    color:#00CCB1;
}

.section4{
    width: 100%;
    display: flex;
    background-color:#D0FAF4 ;
}

.section4header{
height: 100%;
width: 700px;
 padding-left: 100px; 
padding-top: 20px; 
}

.section4header > h2{
    color: #00b39b;
    width: 300px;
    padding: 20px;
}
.section4header > p{
    padding: 20px;
    color: #787A7A;
}
.section4header img{
    position: relative;
    right: 50px;
    top: 17px;
} 
 .section_4box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.first2_boxes{
    display: flex;

}

.boxes{
    margin: 10px;
    padding: 20px;
    
    width: 220px;

    background-color: #fff;
} 
.boxes > p{
    color: #ababab;
}

.boxes > h3{
    color: #00b39b;
}

.section5{
    width: 100%;
    height: 400px;
}
.section5_content{
    padding-top: 100px;
    align-items: center;
    width: 530px;
    text-align: center;
    margin: auto;

}
.section5_content h3{
    color: #00b39b;
    font-size: 25px;
    padding-bottom: 20px;
}

.section5_content p{
    color: #ababab;
}

.country{
display: grid;
grid-template-columns: 25% 25% 25%;
margin: auto;
justify-content: center;

}
.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    position: relative;
    top: -13px;
    left: -10px;
    width: 100px;
    height: 45px;
    margin: 10px;
background-color:#3D83DF;
border: none;
border-radius: 10px;
color: #fff;
}
.section7{
    width: 100%;
    height: 400px;
text-align: center;
padding-top: 150px;
font-family: work sans;
font-size: 20px;
}
.btn{
    position: relative;
    top: 20px;
    width: 200px;
    height: 40px;
    margin: auto;
}

.footer_closing {
    text-align: center;
    padding: 10px;
}

.footer_closing > p{
    text-align: center;
  color: #787A7A;
}
.footer_closing a{
    color: blue;
    text-decoration: none;
}